<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Anatomy Of Search", "AnatomyOfSearch")</li>
    <li>@Html.ActionLink("Querry and Filter", "QueryAndFilter")</li>
    <li>@Html.ActionLink("Paths", "Paths")</li>
    <li>@Html.ActionLink("Paths", "Paths")</li>
    <li>@Html.ActionLink("Paths", "Paths")</li>
    <li>@Html.ActionLink("Paths", "Paths")</li>
</ul>