<h2>Index</h2>
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Anatomy Of Search", "AnatomyOfSearch")</li>
    <li>@Html.ActionLink("Querry and Filter", "QueryAndFilter")</li>
    <li>@Html.ActionLink("Paths", "Paths")</li>
    <li>@Html.ActionLink("Regex Matching", "Regex")</li>
    <li>@Html.ActionLink("Paged Results", "PagedResults")</li>
    <li>@Html.ActionLink("Facets", "Facets")</li>
    <li>@Html.ActionLink("Dragons Here! (IEnumerable vs IQueryable)", "Dragons")</li>
</ul>